@import 'lightbox2/dist/css/lightbox.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Global Styles */
body {
  @apply bg-gray-100 text-darkText;
}

.sidebar {
  @apply bg-primary text-white w-64 h-screen fixed p-6;
}

.sidebar a {
  @apply flex items-center space-x-2 py-2 px-4 rounded-lg hover:bg-red-800 transition;
}

.header {
  @apply bg-white shadow-md flex justify-between items-center p-4 fixed w-full;
}

.card {
  @apply p-6 bg-white shadow-md rounded-lg flex items-center space-x-4;
}

.card-icon {
  @apply text-red-600;
}

.dropdown {
  @apply absolute right-0 mt-2 w-48 bg-white shadow-lg rounded-lg;
}

.dropdown li {
  @apply px-4 py-2 hover:bg-gray-100 cursor-pointer;
}
